<nav class="navbar navbar-default">
  <div class="conatiner-fluid">
    <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <!-- Navbar with active link when click on is highligted.
      using routerLink for navigation along with router-outlet.
      -->
      <li routerLinkActive ="active current"><a routerLink="">Cook Book</a></li>
      <li routerLinkActive ="active current"><a routerLink="/uploadrecipe">Upload Recipe</a></li>
      <li routerLinkActive ="active current"><a routerLink="/recipe">Recipe</a></li>
      <li routerLinkActive ="active current"><a routerLink="/cook">Cook</a></li>
      
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive ="active current"><a routerLink="/login">Login/SignUp</a></li>
    </ul>
  </div>
</div>
</nav>
