<div class="container container-top">
  <div class="row">
    <div class="col-md-6">
      <h2>Chicken BBQ</h2>
      <div class="panel">
        <p>this panel will contain description of the 
          recipe and steps to make it.
        </p>
      </div>
      <div class="panel ingredients">
        <span>
          <ul>
            <li>
              chicken 1 medium
            </li>
            <li>
              bbq sauce
            </li>
          </ul>
        </span>
      </div>
    </div>
    <div class="col-md-6">
        <h2>Chicken BBQ</h2>
        <div class="panel">
          <p>this panel will contain description of the 
            recipe and steps to make it.
          </p>
        </div>
        <div class="panel ingredients">
          <span>
            <ul>
              <li>
                chicken 1 medium
              </li>
              <li>
                bbq sauce
              </li>
            </ul>
          </span>
        </div>
      </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6 video">
   
      <h2>16:9 Responsive Aspect Ratio</h2>
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/ePbKGoIGAXY"></iframe>
</div>
    </div>
    <div class="col-sm-6 video">
      <h2>16:9 Responsive Aspect Ratio</h2>
      <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="//www.youtube.com/embed/ePbKGoIGAXY"></iframe>
      </div>
          </div>