<div class="conatiner">
  <div class="row">
    <div class="">
  <img src="./assets/img/pacman404.PNG" alt="">
    </div>
  </div>
  <div class="row">
      <div class="">
    <h3> Please Click Home to Go back, looks like this is not the way. 
        <a href="http://localhost:4200/"> <br>
          <!-- Click here to go Home -->
        <i class="fa fa-home fa-5x"></i></a>
    </h3>
      </div>
    </div>
    <div class="row">
        <div class="">
          <h3 style = "font-size:50px">ERROR 404</h3>
        </div>
      </div>
</div>
